header { 
  background-color: black;
  text-align: center;
  width: 100%;
}
.header {
  display: flex;
  height: 50px;
  max-width: 1280px;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  margin: 0 auto;
  :global {
    .rightHeader {
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 220px;
      .cart {
        display: flex;
        align-items: center;
        margin-right: 24px;
        .numberProduct {
          color: white;
          font-size: 32px;
          margin-bottom: 8px;
        }
      }
      .auth {
        display: flex;
        justify-content: space-around;
        width: 100%;
        .register {
          a {
            color: white;
          }
        }
        .login a { 
            color: #fff;
        }
      }
    }
  }
}

.menu { 
  list-style: none;
  display: flex;
  max-width: 1280px;
  margin: 16px auto;
  padding-inline-start: 0;
  :global {
    li { 
      margin: 0 16px;
      padding-bottom: 10px;
      font-size: 20px;
      line-height: 24px;
    }
    .active { 
      font-weight: 600;
      border-bottom: 1px solid black;
    }
    .fontWeight { 
      font-weight: 400;
      opacity: 0.7;
    }
   }
}
