.detail { 
    max-width: 1280px;
    margin: 0 auto;
    :global {
        .detailProduct { 
            display: flex;
            .image { 
                width: 40%;
                text-align: center;
                img { 
                    width: 70%;
                    background-color: #f5f5f5;
                }
            }
            .infoProduct { 
                .productName {
                    font-size: 24px;
                 }
                .availableSize { 
                    color: #1ED90E;
                    font-size: 24px;
                    font-weight: 500;
                    margin-top: 16px;
                    margin-bottom: 16px;
                }
                .size { 
                    .sizeNumber { 
                        margin: 0 12px;
                        border: none;
                        padding: 8px;
                        background-color: #ccc;
                        font-size: 24px;
                        cursor: pointer;
                        border-radius: 4px;
                        font-weight: 600;
                    }
                }
                .totalMoney { 
                    color:#FC0303 ;
                    font-size: 30px;
                    font-weight: 600;
                    margin: 12px 0;;
                }
                .changeQuantity { 
                    .quanlity { 
                        margin: 0 12px;
                        font-size: 30px;
                    }
                    .plus { 
                        padding: 6px 14px;
                        font-size: 30px;
                        font-weight: 400;
                        cursor: pointer;
                        border: none;
                    }
                    .increate { 
                        cursor: pointer;
                        font-size: 30px;
                        font-weight: 400;
                        padding: 7px 18px;
                        border: none;

                    }
                }
                .addToCart { 
                    padding: 12px 20px;
                    margin-top: 16px;
                    background-image: linear-gradient(to left, #3E20F8E5,#D017EE );
                    border: none;
                    color: #fff;
                    font-size: 24px;
                    font-weight: 500;
                    border-radius: 2px;
                    cursor: pointer;
                }
            }
        }

        .realateProduct { 
            text-align: center;
            margin-top: 50px;
            font-size: 40px;
            font-weight: 400;
        }
    }
}